---
import '@/styles/global.css'
import content from '@/utils/content'
---
<head>
    <meta charset="utf-8" />
    <title>{content.meta.title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={content.name} />
    <meta name="description" content={content.meta.description}>
    <meta name="keywords" content={content.meta.keywords}>
    <meta property="og:title" content={content.meta.title}>
    <meta property="og:description" content={content.meta.description}>
    <!-- <meta property="og:image" content="path/to/thumbnail.jpg"> -->
    <meta property="og:url" content={content.meta.ogUrl}>
    <!-- <meta name="twitter:card" content="summary_large_image"> -->
</head>